@model IEnumerable<OliverosITELEC1C.Models.Instructor>;
<h1>Instructor Index</h1>
<table class="table table-dark">

    <tr>
        <th colspan="7">Instructor</th>
    </tr>

    <tr>
        <td>Name</td>
        <td>ID</td>
        <td>Permanence</td>
        <td>Rank</td>
        <td>Date Hired</td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var Instructor in Model)
    {
        <tr>
            <td>@Instructor.InstructorFirstName @Instructor.InstructorLastName</td>
            <td>@Instructor.Id</td>
            <td>@Instructor.InstructorIsTenured</td>
            <td>@Instructor.Rank</td>
            <td>@Instructor.HiringDate</td>
            <td><a asp-action="ShowDetail" asp-route-id="@Instructor.Id">Show Details</a></td>
            <td><a asp-action="EditInstructor" asp-route-id="@Instructor.Id">Edit Info</a></td>

        </tr>
    }
</table>
<a class="btn btn-primary" asp-action="AddInstructor">Add Instructor</a>
