@model Instructor;

<h1>Instructor Details</h1>

<table class="table table-dark">
    <tr>
        <th>ID</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>@Model.InstructorLastName</td>
    </tr>
    <tr>
        <th>First Name</th>
        <td>@Model.InstructorFirstName</td>
    </tr>
    <tr>
        <th>Permanence</th>
        <td>@Model.InstructorIsTenured</td>
    </tr>
    <tr>
        <th>Rank</th>
        <td>@Model.Rank</td>
    </tr>
    <tr>
        <th>Date Hired</th>
        <td>@Model.HiringDate</td>
    </tr>
</table>
