@model IEnumerable<OliverosITELEC1C.Models.Student>;
<h1>Student Index</h1>
<table class="table table-dark">

    <tr>
        <th colspan="7">Student</th>
    </tr>

    <tr>
        <td>Name</td>
        <td>Student ID</td>
        <td>Admission Date</td>
        <td>Course</td>
        <td>Student Email</td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var Student in Model)
    {
        <tr>
            <td>@Student.StudentName</td>
            <td>@Student.StudentId</td>
            <td>@Student.DateEnrolled</td>
            <td>@Student.Course</td>
            <td>@Student.StudentEmail</td>
            <td><a asp-action="ShowDetail" asp-route-id="@Student.StudentId">Show Details</a></td>
            <td><a asp-action="EditStudent" asp-route-id="@Student.StudentId">Edit Info</a></td>
        </tr>
    }
</table>
<a class="btn btn-primary" asp-action="AddStudent">Add Student</a>
